/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.jan.2017, 12:18:10
    Author     : Aksel
*/

.header{
    background-color:#520a76;
    height:72px;  
}
#unikialogo
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
}

.main{
    background-color: #f1f1f1;
}
.textMain{
   margin-left: 50%;
   margin-right: 10%;
   margin-top: 10%;
   margin-bottom: 10%;
}

#logo {
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    display: block;
}

